@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #161616;
  --background-start-rgb: #F5F5F4;
  --background-end-rgb: #F2F2F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #F5F5F4;
    --background-start-rgb: #161616;
    --background-end-rgb: #121212;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
}
